footer {
  width: 100%;
  background-color: #64ABD1;
  height: 8rem;
  text-align: center;
  padding: 2rem;
}
footer p {
  font-size: 1.25rem;
}
footer .fa {
  background-color: orange;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  margin: 1rem;
  line-height: 1.75rem;
}
