.header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  .image-container {
      padding: 1rem;
      
    img {
      width: 100%;
      height: 30rem;
    }
  }
  .nav-bar {
    padding: 0.5rem;
    flex-basis: 70%;
    display: flex;
    justify-content: space-evenly;

    a {
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
}
.main-wrapper {
  padding: 2rem;

  @media @phone {
    padding: 0.5rem;
  }

  .welcome {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .features {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 2rem;
    margin: 2rem 0;
    @media @phone {
        flex-direction: column;
    }

    .display-block {
      flex-basis: 30%;

      h2 {
          text-align: center;
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
      }
      img {
        width: 100%;
      }
    }
  }
  .featured-sellers {
      margin-top: 2rem;
      text-align: center;

      h2 {
          font-size: 2rem;
      }

    .sellers {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 2rem;
      margin: 2rem 0;

      .seller {
        flex-basis: 20%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        @media @phone {
            flex-basis: 100%;
        }
        .rating {
          margin: 2rem 0;
        }
        .checked {
          color: #64abd1;
        }
        h3 {
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
